body {
    background-color:#F5FFFA;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background-color:#A9A9A9;
    border-radius:5px;
}

.assignment img {
    width:200px;
    margin:10px;
    border: 1px solid #7FFFD4;
}

.assignment img:hover {
    border:2px solid #D3D3D3;
}

h1 {
    color:#DAA520;
    text-align:center;
}

h1:hover {
    color:#FFA500;
}

a {
    text-decoration:none;
    background-color:#7FFFD4;
}

a:hover {
    color:#D3D3D3; 
}